*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
     text-align: center;
     color: white;
     background-color: black;
}

/* .menu speciality in css */

.navbar .menu a{
   text-decoration: none;
   margin-right: 5px;
   color: tomato;
}

/* .menu{

} */

.about h1{
     text-align: center;
}

.about img{
    border-radius: 50%;
    width: 200px;
    margin: 0 40%;
}

.section h1{
    text-align: center;
}